@import "./animations.scss";
#app {
  display: flex;
  flex-direction: column;
  height: 100%;
}

html {
  height: 100%;
}

.main {
  min-height: calc(100vh - 65px) !important;
  margin-bottom: 4rem !important;
}

.footer {
margin-top: auto !important;
}

body {
  margin: 0;
  font-family: 'Jost', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: overlay !important;
  height: 100% !important;
}

h1, h2, h3 {
  font-family: 'Overpass', sans-serif !important;
}

.logo {
  font-family: 'Overpass', sans-serif !important;
}

.job-card {
  animation-name: moveInBottom;
  animation-duration: 0.8s;
  animation-timing-function: ease;

  transition: all .5s;

  &:hover {
    transform: translateY(-.1rem);
  }

  &::after {
    transform: translateY(-.1rem);
  }
}

.heading {
  font-family: 'Jost', sans-serif;
}

.chakra-button {
  transition: all .5s;

  &:active {
    transform: translateY(-.1rem);
}
}

.chakra-button:hover {
  transform: translateY(-.05rem);
}

.bullet {
  height: 8px;
  width: 8px;
  border-radius: 100%;
}

.category {
  transform: transition 0.5s;
}

.category:hover {
  transform: translateY(-.05rem);
}

.line {
  display: inline-block;
  margin-right: 0.3rem;
  width: 15px;
  height: 15px;
  border-radius: 15px;
}

.load-3 .line:nth-last-child(1) {
  animation: loadingC 0.6s 0.1s linear infinite;
}
.load-3 .line:nth-last-child(2) {
  animation: loadingC 0.6s 0.2s linear infinite;
}
.load-3 .line:nth-last-child(3) {
  animation: loadingC 0.6s 0.3s linear infinite;
}

.css-4o94kf >option, .css-4o94kf >optgroup {
background: #2d3748 !important;

  &:hover {
    color: #2d3748 !important;
  }
}

.selectable {
  -webkit-user-select: none;  
  -moz-user-select: none;    
  -ms-user-select: none;      
  user-select: none;
}