@import "./animations.scss";

.main {
  min-height : calc(100vh - 3.75rem);
}

body {
  margin: 0;
  font-family: 'Jost', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: overlay;
}

.job-card {
  animation-name: moveInBottom;
  animation-duration: 0.8s;
  animation-timing-function: ease;

  transition: all .5s;

  &:hover {
    transform: translateY(-.1rem);
  }

  &::after {
    transform: translateY(-.1rem);
  }
}

.heading {
  font-family: 'Jost', sans-serif;
}

.chakra-button {
  transition: all .5s;

  &:active {
    transform: translateY(-.1rem);
}
}

.chakra-button:hover {
  transform: translateY(-.05rem);
}

.bullet {
  height: 8px;
  width: 8px;
  border-radius: 100%;
}

.category {
  transform: transition 0.5s;
}

.category:hover {
  transform: translateY(-.05rem);
}

// :host, :root, [data-theme] {
//   --chakra-ring-inset: none;
//   --chakra-ring-shadow: 0 0 #f7f8fd !important;
//   --chakra-ring-offset-shadow: 0 0 #f7f8fd !important;
// }

::-webkit-scrollbar-track {
  box-shadow: none !important;
  border-radius: none !important;
}