html, body, #root, #app {
    height: 100vh !important;
}

body {
    margin: 0;
    font-family: 'Poppins', sans-serif !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

.heading {
  font-family: 'Poppins', sans-serif !important;
}

.footer {
margin-top: auto !important;
}