#app {
  display: flex;
  flex-direction: column;
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Jost', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.heading {
  font-family: 'Jost', sans-serif;
}

.footer {
  margin-top: auto !important;
}

.chakra-button {
  transition: all .5s;

  &:active {
    transform: translateY(-.1rem);
}
}

.chakra-button:hover {
  transform: translateY(-.05rem);
}

.job-card {
  transition: all .5s;

  &:active {
    transform: translateY(-.1rem);
}
}

.job-card:hover {
  transform: translateY(-.1rem);
}

.bullet {
  height: 8px;
  width: 8px;
  border-radius: 100%;
}

.category {
  transform: transition 0.5s;
}

.category:hover {
  transform: translateY(-.05rem);
}